<!--help-->
<div class="help">
  <div class="help-info">
    <h1><img src="../../../assets/img/help4.png"><span class="help-text">消费者保障</span></h1>
    <a class="help-a" href="javascript:void(0)">保障范围</a>
    <a class="help-a" href="javascript:void(0)">退货退款流程</a>
    <a class="help-a" href="javascript:void(0)">服务中心</a>
    <a class="help-a" href="javascript:void(0)">更多特色服务</a>
  </div>
  <div class="help-info">
    <h1><img src="../../../assets/img/help1.png"><span class="help-text">新手上路</span></h1>
    <a class="help-a" href="javascript:void(0)">新手专区</a>
    <a class="help-a" v="" href="javascript:void(0)">消费警示</a>
    <a class="help-a" href="javascript:void(0)">交易安全</a>
    <a class="help-a margin-r" href="javascript:void(0)">24小时在线帮助</a>
  </div>
  <div class="help-info">
    <h1><img src="../../../assets/img/help2.png"><span class="help-text">付款方式</span></h1>
    <a class="help-a-litter" href="javascript:void(0)">支付宝快捷支付</a>
    <a class="help-a-litter" href="javascript:void(0)">支付宝卡（现金）付款</a>
    <a class="help-a-litter" href="javascript:void(0)">支付宝余额付款</a>
    <a class="help-a" href="javascript:void(0)">货到付款</a>
  </div>
  <div class="help-info">
    <h1><img src="../../../assets/img/help3.png"><span class="help-text">淘宝特色</span></h1>
    <a class="help-a" href="javascript:void(0)">淘宝指数</a>
    <a class="help-a" href="javascript:void(0)">淘公仔</a>
    <a class="help-a" href="javascript:void(0)">手机淘宝</a>
    <a class="help-a" href="javascript:void(0)">旺信</a>
  </div>
</div>

<!--footer-->
<div class="footer">
  <div class="footer-right">
    <div class="footer-nav">
      <a href="javascript:void(0)">阿里巴巴集团</a>|
      <a href="javascript:void(0)">阿里巴巴国际站</a>|
      <a href="javascript:void(0)">阿里巴巴中国站</a>|
      <a href="javascript:void(0)">全球速卖通</a>|
      <a href="javascript:void(0)">淘宝网</a>|
      <a href="javascript:void(0)">天猫</a>|
      <a href="javascript:void(0)">聚划算</a>|
      <a href="javascript:void(0)">一淘</a>|
      <a href="javascript:void(0)">阿里妈妈</a>|
      <a href="javascript:void(0)">阿里云计算</a>|
      <a href="javascript:void(0)">云OS</a>|
      <a href="javascript:void(0)">万网</a>|
      <a href="javascript:void(0)">支付宝</a>|
      <a href="javascript:void(0)">来往</a>
    </div>
    <div class="about-tao">
      <a href="javascript:void(0)">关于淘宝</a>
      <a href="javascript:void(0)">合作伙伴</a>
      <a href="javascript:void(0)">营销中心</a>
      <a href="javascript:void(0)">廉正举报</a>
      <a href="javascript:void(0)">联系客服</a>
      <a href="javascript:void(0)">开放平台</a>
      <a href="javascript:void(0)">诚征英才</a>
      <a href="javascript:void(0)">联系我们</a>
      <a href="javascript:void(0)">网站地图</a>
      <a href="javascript:void(0)">法律声明</a>
      <span class="gary-text">© 2014 Taobao.com 版权所有</span>
    </div>
    <p class="gary-text"><span>网络文化经营许可证：文网文[2010]040号</span>|<span>增值电信业务经营许可证：浙B2-20080224-1</span>|<span>信息网络传播视听节目许可证：1109364号</span></p>
    <div class="some-info">
      <img src="../../../assets/img/some.png">
    </div>
  </div>
  <div class="tao-man">
    <img src="../../../assets/img/tao-man.png">
  </div>
</div>
