<div class="main-right">
  <div class="time-go">
    <div class="time-cell">
      <h1><a href="javascript:void(0)" class="text_shadow">我收藏的店铺上新</a><span class="now-news">更新<span class="">3</span></span></h1>
      <div class="inner-show">
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner1.png">
          <p class="price-info">￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner2.png">
          <p>￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner3.png">
          <p>￥118.00</p>
        </a>
        <h3><a href="http://www.17sucai.com/preview/172667/2014-08-03/chahua3360/$">更多店铺上新</a><i class="fa fa-angle-right"></i></h3>
      </div>
    </div>
    <div class="time-cell">
      <h1><a href="javascript:void(0)" class="text_shadow">你可能新欢的店铺推荐</a></h1>
      <div class="inner-show">
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner1.png">
          <p class="price-info">￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner2.png">
          <p>￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner3.png">
          <p>￥118.00</p>
        </a>
        <h3><a href="http://www.17sucai.com/preview/172667/2014-08-03/chahua3360/$">更多店铺上新</a><i class="fa fa-angle-right"></i></h3>
      </div>
    </div>
    <div class="time-cell">
      <h1><a href="javascript:void(0)" class="text_shadow">我的足迹</a></h1>
      <div class="inner-show">
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner1.png">
          <p class="price-info">￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner2.png">
          <p>￥118.00</p>
        </a>
        <a href="javascript:void(0)">
          <img data-original="../../assets/img/inner3.png">
          <p>￥118.00</p>
        </a>
        <h3><a href="javascript:void(0)">更多店铺上新</a><i class="fa fa-angle-right"></i></h3>
      </div>
    </div>
    <!--goto-see-->
    <h1 class="goto-see text_shadow">微淘动态<a href="javascript:void(0)">去广场看看</a></h1>
    <!--dynamic动态-->
    <div class="dynamic">
      <h3 class="text_shadow">天猫美妆<span>04-19 10:00</span><span class="follow">√&nbsp;<a href="javascript:void(0)">已关注</a>&nbsp;|&nbsp;<a href="javascript:void(0)">取消</a></span></h3>
      <p>【美妆课堂】“羽”你相约步步惊情 若曦四爷再续... <a href="javascript:void(0)" style="color: #5684bc;">查看全文</a></p>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic1.jpg"></a>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic2.jpg"></a>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic3.jpg"></a>
      <h6><a href="javascript:void(0)">评论(26)</a></h6>
      <h4><a href="javascript:void(0)">更多动态&nbsp;</a><i class="fa fa-angle-right"></i></h4>
      <div class="arrow"></div>
    </div>
    <div class="dynamic">
      <h3 class="text_shadow">天猫美妆<span>04-19 10:00</span><span class="follow">√&nbsp;<a href="javascript:void(0)">已关注</a>&nbsp;|&nbsp;<a href="javascript:void(0)">取消</a></span></h3>
      <p>【美妆课堂】“羽”你相约步步惊情 若曦四爷再续... <a href="javascript:void(0)" style="color: #5684bc;">查看全文</a></p>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic1.jpg"></a>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic2.jpg"></a>
      <a href="javascript:void(0)"><img width="80px" height="80px" data-original="../../assets/img/dynamic3.jpg"></a>
      <h6><a href="javascript:void(0)">评论(26)</a></h6>
      <h4><a href="javascript:void(0)">更多动态&nbsp;</a><i class="fa fa-angle-right"></i></h4>
      <div class="arrow"></div>
    </div>
    <!--circle-big-->
    <div class="circle-new">新</div>
    <div class="circle-go">逛</div>
    <!--time-circle-->
    <div class="time-circle"></div>
    <div class="time-circle bottom-circle"></div>
  </div>
  <!--fix-right-->
  <div class="fix-right-sub">
    <!--gogo-choose-->
    <div class="gogo-choose">
      <h1 class="text_shadow">逛逛-精选</h1>
      <div class="sub-show">
        <div class="content-sub">
          <ul class="imgBox2" style="left: -220px;">
            <li><a href="javascript:void(0)"><img data-original="../../assets/img/sub1.jpg"></a></li>
            <li><a href="javascript:void(0)"><img data-original="../../assets/img/sub2.jpg"></a></li>
            <li><a href="javascript:void(0)"><img data-original="../../assets/img/sub3.jpg"></a></li>
          </ul>
          <div class="currentNum-sub">
            <span class="imgNum2"></span>
            <span class="imgNum2 mark-color"></span>
            <span class="imgNum2"></span>
          </div>

          <div class="control2 to-left2"><i class="fa fa-angle-left"></i></div>
          <div class="control2 to-right2"><i class="fa fa-angle-right"></i></div>

        </div>
        <div class="sub-right">
          <img data-original="../../assets/img/hand.jpg">
          <img data-original="../../assets/img/aaaaa.jpg">
        </div>

      </div>
      <p class="text-show">
        <span><span class="orange">[雪纺]&nbsp;</span><a href="javascript:void(0)">无袖雪纺背心 巧减龄</a></span>
        <span>[配饰]&nbsp;<a href="javascript:void(0)">萌！美妙星空配饰</a></span>
        <span>[家装]&nbsp;<a href="javascript:void(0)">29平小户竟啥都有！</a></span>
        <span><span class="orange">[包包]&nbsp;</span><a href="javascript:void(0)">浪漫蕾丝包 淑女范</a></span>
      </p>
      <!--just-look-->
      <div class="just-look">
        <a href="javascript:void(0)"><img data-original="../../assets/img/female.png"><h6>超美公主装搭配</h6></a>
        <a href="javascript:void(0)"><img data-original="../../assets/img/home.jpg"><h6>小户型这样装</h6></a>
        <a href="javascript:void(0)"><img data-original="../../assets/img/shoes.jpg"><h6>闪耀水钻凉鞋</h6></a>
      </div>
      <p class="text-show">
        <span>[雪纺]&nbsp;<a href="javascript:void(0)">无袖雪纺背心 巧减龄</a></span>
        <span><span class="orange">[配饰]</span>&nbsp;<a href="javascript:void(0)">萌！美妙星空配饰</a></span>
        <span><span class="orange">[家装]</span>&nbsp;<a href="javascript:void(0)">29平小户竟啥都有！</a></span>
        <span>[包包]&nbsp;<a href="javascript:void(0)">浪漫蕾丝包 淑女范</a></span>
      </p>
      <div class="just-look">
        <a href="javascript:void(0)"><img data-original="../../assets/img/female.png"><h6>超美公主装搭配</h6></a>
        <a href="javascript:void(0)"><img data-original="../../assets/img/home.jpg"><h6>小户型这样装</h6></a>
        <a href="javascript:void(0)"><img data-original="../../assets/img/shoes.jpg"><h6>闪耀水钻凉鞋</h6></a>
      </div>
      <!--just-text-->
      <ul class="jst-text">
        <li><em class="orange">1</em><a href="javascript:void(0)">85后小夫妻！3室2厅温馨窝</a><span>jjwwlove99</span></li>
        <li><em class="orange">2</em><a href="javascript:void(0)">糖果色豆豆鞋 甜美减龄</a><span>qh100330</span></li>
        <li><em class="orange">3</em><a href="javascript:void(0)">小美妞可爱装扮 吸睛百分百</a><span>琉光易彩</span></li>
        <li><em>4</em><a href="javascript:void(0)">显瘦小脚休闲裤 瘦腿利器</a><span>vnc9999</span></li>
      </ul>
    </div>
  </div>
</div>
