<!-- 任务栏taskbar -->
<div class="top-wrapper">
  <div class="top-info">
    <div class="top-left">
      <div data-toggle="arrowdown" id="arrow1" class="user-name">
        <a href="javascript:void(0)">小池好</a>
        <span class="down-icon run-down"></span>
      </div>
      <div data-toggle="arrowdown" id="arrow2" class="msg-info">
        <i class="fa fa-envelope fa-gray"></i>
        <a href="javascript:void(0)">消息</a>
        <span class="down-icon"></span>
      </div>
      <a class="a-float-left" href="javascript:void(0)">手机淘宝</a>
      <img height="34px" a-float-left="" src="../../../assets/img/qqq.gif">
      <!--hidden-box-->
      <div data-toggle="hidden-box" id="nav-box1" class="user-box" style="display: none;">
        <img class="my-head" src="../../../assets/img/user-head.jpg">
        <div class="my-grow">
          <h1><a href="javascript:void(0)">账号管理</a>&nbsp;|&nbsp;<a href="javascript:void(0)">退出</a></h1>
          <p>
          </p><h2><a href="javascript:void(0)">查看我会员特权</a></h2>
          <a href="javascript:void(0)">我的成长</a>
          <p></p>
        </div>
        <p style="height: 10px; clear: both;">&nbsp;</p>
        <div class="my-card">
          <div class="cards-info">
            <ul>
              <li><img src="../../../assets/img/icon.png"></li>
              <li><img src="../../../assets/img/icon.png"></li>
            </ul>
          </div>
          <div class="toggle-box">
            <div class="toggle">
              <i style="vertical-align: top" class="fa fa-angle-left arrow-left"></i>
              <i style="vertical-align: top" class="fa fa-angle-right arrow-right"></i>
            </div>
          </div>
        </div>
      </div>
      <div data-toggle="hidden-box" id="nav-box2" class="msg-box">
        <h1>未读新消息<a href="javascript:void(0)" class="fa fa-pencil-square-o pencil"></a></h1>
        <div class="read-info">
          <h2><span class="orange">&nbsp;&nbsp;|</span>&nbsp;你的书架&nbsp;<span style="font-weight: lighter">收到了<span class="orange">1</span>本书</span><span class="fa fa-times close-msg"></span></h2>
          <img src="../../../assets/img/book-1.png">
          <div style="float: right">
            <p>
              全中国最穷的小伙子发财日记<br>
              掏彩票公共账号
            </p>
            <h3><a href="javascript:void(0)">去看看</a></h3>
          </div>
        </div>
        <div class="msg-setting">
          <a href="javascript:void(0)" class="fa fa-cog"></a>
          <a href="javascript:void(0)" class="fa fa-pencil-square-o"></a>
          <a style="margin-left: 70px" href="javascript:void(0)">买家消息&nbsp;|&nbsp;</a>
          <a href="javascript:void(0)">卖家消息</a>
        </div>
      </div>
    </div>
    <!--top-right-->
    <div class="top-right">
      <div data-toggle="arrowdown" id="arrow3" class="user-name">
        <a href="javascript:void(0)">我的淘宝</a>
        <span class="down-icon"></span>
      </div>
      <div data-toggle="arrowdown" id="arrow4" class="user-name">
        <i class="fa fa-shopping-cart fa-orange"></i>
        <a href="javascript:void(0)">购物车</a>
        <span class="down-icon"></span>
      </div>
      <div data-toggle="arrowdown" id="arrow5" class="user-name">
        <i class="fa fa-star fa-gray"></i>
        <a href="javascript:void(0)">收藏夹</a>
        <span class="down-icon"></span>
      </div>
      <a class="a-float-left" href="javascript:void(0)">商品分类</a>
      <span class="vertical-line">|</span>
      <div data-toggle="arrowdown" id="arrow6" class="user-name">
        <a href="javascript:void(0)">卖家中心</a>
        <span class="down-icon"></span>
      </div>
      <a class="a-float-left" href="javascript:void(0)">联系客户</a>
      <div data-toggle="arrowdown" id="arrow7" class="user-name">
        <i class="fa fa-list-ul fa-orange"></i>
        <a href="javascript:void(0)">网站导航</a>
        <span class="down-icon"></span>
      </div>
      <!--hidden-box-->
      <div data-toggle="hidden-box" id="nav-box3" class="my-taobao-box">
        <ul>
          <li>已买到的宝贝</li>
          <li>新欢</li>
          <li>我的足迹</li>
          <li>我的上新</li>
          <li>我的优惠</li>
        </ul>
      </div>
      <div data-toggle="hidden-box" id="nav-box4" class="shopping-box">
        <span>您购物车里还没有任何宝贝。</span><a class="check-shopp" href="javascript:void(0)">查看我的购物车</a>
      </div>
      <div data-toggle="hidden-box" id="nav-box5" class="get-box">
        <ul>
          <li>收藏的宝贝</li>
          <li>收藏的店铺</li>
        </ul>
      </div>
      <div data-toggle="hidden-box" id="nav-box6" class="center-box">
        <ul>
          <li>已卖出的宝贝</li>
          <li>出售中的宝贝</li>
          <li>卖家服务市场</li>
          <li>卖家培训中心</li>
        </ul>
      </div>
      <div data-toggle="hidden-box" id="nav-box7" class="nav-box">
        <div class="sub-nav top-sub-nav">
          <!--<input type="button" class="more-btn" value="更多"/>-->
          <!--sub-nav-cell-->
          <div class="sub-nav-cell right-shadow">
            <h3 class="orange">主题市场</h3>
            <ul class="sub-nav-box">
              <li><a href="javascript:void(0)">爱美女人</a></li>
              <li><a href="javascript:void(0)">品质男人</a></li>
              <li><a href="javascript:void(0)">淘宝二手</a></li>
              <li><a href="javascript:void(0)">全球购</a></li>
              <li><a href="javascript:void(0)">品牌街</a></li>
              <li><a href="javascript:void(0)">汽车生活</a></li>
              <li><a href="javascript:void(0)">花嫁新娘</a></li>
              <li><a href="javascript:void(0)">孕婴童</a></li>
              <li><a href="javascript:void(0)">同城便民</a></li>
              <li><a href="javascript:void(0)">爱么装</a></li>
              <li><a href="javascript:void(0)">运动户外</a></li>
              <li><a href="javascript:void(0)">家用电器</a></li>
              <li><a href="javascript:void(0)">狠爱</a></li>
              <li><a href="javascript:void(0)">网络游戏</a></li>
              <li><a href="javascript:void(0)">潮流设计</a></li>
              <li><a href="javascript:void(0)">淘宝星愿</a></li>
            </ul>
          </div>
          <div class="sub-nav-cell right-shadow">
            <h3 class="green-sp">特色购物</h3>
            <ul class="sub-nav-box sp">
              <li><a href="javascript:void(0)">爱美女人</a></li>
              <li><a href="javascript:void(0)">品质男人</a></li>
              <li><a href="javascript:void(0)">淘宝二手</a></li>
              <li><a href="javascript:void(0)">全球购</a></li>
              <li><a href="javascript:void(0)">品牌街</a></li>
              <li><a href="javascript:void(0)">汽车生活</a></li>
              <li><a href="javascript:void(0)">花嫁新娘</a></li>
              <li><a href="javascript:void(0)">孕婴童</a></li>
              <li><a href="javascript:void(0)">同城便民</a></li>
              <li><a href="javascript:void(0)">爱么装</a></li>
              <li><a href="javascript:void(0)">运动户外</a></li>
              <li><a href="javascript:void(0)">家用电器</a></li>
              <li><a href="javascript:void(0)">狠爱</a></li>
              <li><a href="javascript:void(0)">网络游戏</a></li>
              <li><a href="javascript:void(0)">潮流设计</a></li>
              <li><a href="javascript:void(0)">淘宝星愿</a></li>

            </ul>
          </div>
          <div class="sub-nav-cell right-shadow">
            <h3 class="red-now">当前热点</h3>
            <ul class="sub-nav-box now">
              <li><a href="javascript:void(0)">爱美女人</a></li>
              <li><a href="javascript:void(0)">品质男人</a></li>
              <li><a href="javascript:void(0)">淘宝二手</a></li>
              <li><a href="javascript:void(0)">全球购</a></li>
              <li><a href="javascript:void(0)">品牌街</a></li>
              <li><a href="javascript:void(0)">汽车生活</a></li>
              <li><a href="javascript:void(0)">花嫁新娘</a></li>
              <li><a href="javascript:void(0)">孕婴童</a></li>
              <li><a href="javascript:void(0)">同城便民</a></li>
              <li><a href="javascript:void(0)">爱么装</a></li>
              <li><a href="javascript:void(0)">运动户外</a></li>
              <li><a href="javascript:void(0)">家用电器</a></li>
              <li><a href="javascript:void(0)">狠爱</a></li>
              <li><a href="javascript:void(0)">网络游戏</a></li>
              <li><a href="javascript:void(0)">潮流设计</a></li>
              <li><a href="javascript:void(0)">淘宝星愿</a></li>

            </ul>
          </div>
          <div class="sub-nav-cell">
            <h3 class="blue-more">更多精彩</h3>
            <ul class="sub-nav-box more">
              <li><a href="javascript:void(0)">爱美女人</a></li>
              <li><a href="javascript:void(0)">品质男人</a></li>
              <li><a href="javascript:void(0)">淘宝二手</a></li>
              <li><a href="javascript:void(0)">全球购</a></li>
              <li><a href="javascript:void(0)">品牌街</a></li>
              <li><a href="javascript:void(0)">汽车生活</a></li>
              <li><a href="javascript:void(0)">花嫁新娘</a></li>
              <li><a href="javascript:void(0)">孕婴童</a></li>
              <li><a href="javascript:void(0)">同城便民</a></li>
              <li><a href="javascript:void(0)">爱么装</a></li>
              <li><a href="javascript:void(0)">运动户外</a></li>
              <li><a href="javascript:void(0)">家用电器</a></li>
              <li><a href="javascript:void(0)">狠爱</a></li>
              <li><a href="javascript:void(0)">网络游戏</a></li>
              <li><a href="javascript:void(0)">潮流设计</a></li>
              <li><a href="javascript:void(0)">淘宝星愿</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--scroll-top-->
  <div class="scroll-search">
    <div class="search-litter">
      <img class="scroll-logo" src="../../../assets/img/logo.png">
      <!--scroll-search-->
      <div class="search-wrapper-scroll">
        <div class="search-box-scroll">
          <div data-toggle="arrowdown" id="arrow9" class="search-toggle-scroll">
            宝贝<span class="down-icon"></span>
          </div>
          <input class="search-in-scroll" type="text" placeholder="    搜‘健康椅’试试，办公好选择">
          <input type="button" class="search-but-scroll" value="搜索">
          <div data-toggle="hidden-box" id="nav-box9" class="search-toggle-box-scroll">店铺</div>
        </div>
      </div>
    </div>
  </div>
</div>
