<!--top-main-->
<div class="top-main">
  <img src="../../../assets/img/logo.gif">
  <div class="search-wrapper">
    <div class="search-box">
      <div data-toggle="arrowdown" id="arrow8" class="search-toggle">
        宝贝<span class="down-icon"></span>
      </div>
      <input class="search-in" type="text" placeholder="    搜‘健康椅’试试，办公好选择">
      <input type="button" class="search-but" value="搜索">
      <div data-toggle="hidden-box" id="nav-box8" class="search-toggle-box">店铺</div>
    </div>
    <a class="a-float-left hight-search" href="javascript:void(0)">高级<br>搜索</a>
    <!--other-search-->
    <div class="other-search">
      <a href="javascript:void(0)">女士凉鞋</a>
      <a href="javascript:void(0)">男士T恤</a>
      <a href="javascript:void(0)">连衣裙</a>
      <a href="javascript:void(0)">时尚女包</a>
      <a href="javascript:void(0)">女士T恤</a>
      <a href="javascript:void(0)">雪纺衫</a>
      <a href="javascript:void(0)">中老年女装</a>
      <a href="javascript:void(0)">风衣</a>
      <a href="javascript:void(0)">童装</a>
      <a href="javascript:void(0)">孕妇装</a>
      <a href="javascript:void(0)">运动套装</a>
      <a href="javascript:void(0)">打底裤</a>
      <a href="javascript:void(0)">蚊帐</a>
      <a href="javascript:void(0)" class="more-other">更多<i class="fa fa-angle-right"></i></a>
    </div>
  </div>
  <!--two-code-->
  <div class="two-code">
    <h3>手机淘宝</h3>
    <img src="../../../assets/img/code.png">
    <div class="close-code"><i class="fa fa-times"></i></div>
  </div>
</div>
